$bg-danger: linear-gradient(to top, #ff081f 45%, #fff2ef 150%) !important;
$bg-primary: linear-gradient(to top, #08a4ff 45%, #fff2ef 150%) !important;
$bg-success: linear-gradient(to top, #10af34 45%, #fff2ef 150%) !important;
$bg-warning: linear-gradient(to top, #ffbf00 45%, #fff2ef 150%) !important;
$bg-purple: linear-gradient(to top, #ff08de 45%, #fff2ef 150%) !important;
$bg-orange: linear-gradient(to top, #ff7708 45%, #fff2ef 150%) !important;
$bg-night: linear-gradient(to top, #2b5876 45%, #fff2ef 150%);
$bg-blue-primary: linear-gradient(to top, #3700ff, #fff2ef 150%) !important;