.navbar {
    .rotateIcon {
        transform: rotateX(-180deg);
    }
    box-shadow: $shadow;
    #searchItem {
        font-family: 'Times New Roman', Times, serif;
        font-size-adjust: $text-size;
    }
    #searchItem:focus {
        width: 450px !important;
        transition: all .5s ease !important;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    nav {
        position: fixed;
        height: 100%;
        max-width: 250px;
        min-width: 250px;
        box-shadow: $shadow;
        transition: .5s ease-in-out;
        &.isActiveSideBar {
            margin-left: -250px;
        }
        ul {
            li {
                line-height: 45px;
                border-top: solid 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                &.isActiveMenu {
                    border-right: 5px solid $primary-color;
                }
                a {
                    color: $text-color;
                    text-decoration: none;
                    padding-left: 20px;
                    font-size: 14px;
                    font-family: $poppins;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    transition: all .3s;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: .1);
                        border-left: solid 4px $primary-color;
                    }
                    &:hover>nav ul li span {
                        margin-left: 20px;
                    }
                    .isActiveIcon {
                        transform: rotateZ(-90deg);
                    }
                }
                a.components-sub--link {
                    padding-left: 45px;
                    // &::before {
                    //     position: absolute;
                    //     content: "\f105";
                    //     left: 0;
                    //     transition: .5s ease;
                    //     visibility: hidden;
                    // }
                    // &:hover::before {
                    //     visibility: visible;
                    //     left: 15px;
                    // }
                }
                &:last-child {
                    border-bottom: solid 1px rgba($color: #000000, $alpha: .1);
                }
            }
        }
    }
}