.navbar {
    .rotateIcon {
        transform: rotateX(-180deg);
    }
    box-shadow: $shadow;
    #searchItem {
        font-family: 'Times New Roman', Times, serif;
        font-size-adjust: $text-size;
        width: 350px;
    }
    #searchItem:focus {
        width: 450px !important;
        transition: all .5s ease !important;
    }
}

.wrapper {
    margin-top: 3.5rem;
    width: 100%;
    nav,
    .main-content {
        transition: all .5s;
    }
    nav {
        position: fixed;
        height: 100%;
        max-width: 250px;
        min-width: 250px;
        box-shadow: $shadow;
        background: #fff;
        ul {
            li {
                line-height: 45px;
                border-top: solid 1px rgba($color: #000000, $alpha: .1);
                cursor: pointer;
                &.isActiveMenu {
                    border-right: 5px solid $primary-color;
                }
                a {
                    color: $text-color;
                    text-decoration: none;
                    padding-left: 20px;
                    font-size: 14px;
                    font-family: $poppins;
                    font-weight: 500;
                    position: relative;
                    display: block;
                    transition: all .3s;
                    &:hover {
                        background-color: rgba($color: #000000, $alpha: .1);
                        border-left: solid 4px $primary-color;
                    }
                    &:hover>nav ul li span {
                        margin-left: 20px;
                    }
                    .isActiveIcon {
                        transform: rotateZ(-90deg);
                    }
                }
                a.components-sub--link {
                    padding-left: 45px;
                    &::before {
                        position: absolute;
                        content: ">";
                        left: 0;
                        transition: .5s ease;
                        visibility: hidden;
                        font-size: 15px;
                    }
                    &:hover::before {
                        visibility: visible;
                        left: 20px;
                    }
                }
                &:last-child {
                    border-bottom: solid 1px rgba($color: #000000, $alpha: .1);
                }
            }
        }
    }
    .main-content {
        margin-left: 250px;
        .heading-box {
            background-color: rgba(255, 255, 255, 0.75);
            &__icon {
                width: 60px;
                height: 60px;
                font-size: 2rem;
                box-shadow: $shadow-icon;
                line-height: 60px;
                margin-right: 20px;
                color: rgba(255, 192, 203, .7);
                border-radius: 5px;
                background: #fff;
            }
            &__content {
                width: 70%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                .heading-box__title {
                    font-size: $title-main-size;
                }
            }
        }
        .content-box {
            margin-top: 15px;
            margin-bottom: 15px;
            .card {
                &-bg--danger {
                    background-image: $bg-danger;
                }
                &-bg--warning {
                    background-image: $bg-warning;
                }
                &-bg--success {
                    background-image: $bg-success;
                }
                &-bg--night {
                    background-image: $bg-night;
                }
                &-bg--primary {
                    background-image: $bg-primary;
                }
                &-bg--orange {
                    background-image: $bg-orange;
                }
                &-bg--purple {
                    background-image: $bg-purple;
                }
                &-bg--blue-primary {
                    background-image: $bg-blue-primary;
                }
                &-title {
                    font-size: 2rem;
                    font-family: $Montserrat;
                }
                &-text {
                    font-family: $Montserrat;
                    &__quantity {
                        font-size: 2.5rem;
                    }
                    &__message {
                        font-size: 1rem;
                    }
                }
                .btn--check {
                    font-family: $lato;
                }
                &-header {
                    &--title {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}