* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $poppins;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    background-color: #fff;
}