@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:ital,wght@0,400;0,500;0,700;1,400&family=Roboto+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  background-color: #fff;
}

.navbar {
  padding: 0 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size-adjust: 13px;
  background: #438eb9 !important;
}

.navbar .rotateIcon {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.navbar #searchItem {
  width: 250px;
}

.navbar #searchItem:focus {
  width: 350px !important;
  -webkit-transition: all .5s ease !important;
  transition: all .5s ease !important;
}

.navbar ul.navbar-nav .nav-item {
  margin-top: 3px;
  margin-right: 5px;
}

.navbar ul.navbar-nav .nav-item .notification,
.navbar ul.navbar-nav .nav-item .unsigned {
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  position: relative;
  padding-bottom: 4px !important;
}

.navbar ul.navbar-nav .nav-item .notification .badge,
.navbar ul.navbar-nav .nav-item .unsigned .badge {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  font-size: 12px;
  font-weight: 400;
  background-color: #ff1313;
  padding: 2px 5px;
  border-radius: 50%;
  text-align: center;
}

.navbar ul.navbar-nav .nav-item .notification:hover,
.navbar ul.navbar-nav .nav-item .unsigned:hover {
  background-color: #1a7cb4;
}

.navbar ul.navbar-nav .user-box {
  cursor: pointer;
}

.navbar ul.navbar-nav .user-box .user-avt {
  width: 43px;
  margin-right: 5px;
}

.navbar ul.navbar-nav .user-box .user-profile {
  padding-left: 5px;
  padding-right: 5px;
}

.navbar ul.navbar-nav .user-box .info-box {
  color: #fff;
  line-height: 16px;
}

.navbar ul.navbar-nav .user-box .info-box .user-name {
  font-size: 13px;
  padding: 0;
  margin: 0;
  padding-bottom: 3px;
}

.wrapper {
  margin-top: 2.4rem;
  width: 100%;
}

.wrapper nav,
.wrapper .main-content {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper nav {
  position: fixed;
  height: 100%;
  max-width: 250px;
  min-width: 250px;
  border-right: solid 0.5px #e5e5e5;
  background: rgba(242, 242, 242, 0.5);
  z-index: 1;
}

.wrapper nav ul ul li.isActiveItem {
  background-color: #F3F7FA;
}

.wrapper nav ul ul li.isActiveItem::before {
  content: ">";
  position: absolute;
  left: 10px;
  visibility: visible;
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
  z-index: 999;
}

.wrapper nav ul ul li.isActiveItem a {
  color: #428bca;
}

.wrapper nav ul li {
  line-height: 35px;
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.wrapper nav ul li.isActiveMenu {
  border-right: 3px solid #428bca;
  background-color: #fff;
}

.wrapper nav ul li a.components-item {
  text-transform: uppercase;
}

.wrapper nav ul li a {
  color: #343a40;
  text-decoration: none;
  padding-left: 15px;
  font-size: 14px;
  font-family: Arial, Helvetica, serif;
  font-weight: 500;
  position: relative;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.wrapper nav ul li a:hover {
  color: #428bca;
}

.wrapper nav ul li a .isActiveIcon {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}

.wrapper nav ul li a.components-sub--link {
  padding-left: 30px;
}

.wrapper nav ul li a.components-sub--link::before {
  position: absolute;
  content: ">";
  left: 10px;
  visibility: hidden;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.wrapper nav ul li a.components-sub--link:hover::before {
  z-index: 100;
  visibility: visible;
}

.wrapper nav ul li:last-child {
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

.wrapper .main-content {
  margin-left: 250px;
}

.wrapper .main-content .content-box .card-bg--danger {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ff081f), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #ff081f 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--warning {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ffbf00), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #ffbf00 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--success {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #10af34), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #10af34 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--night {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #2b5876), color-stop(150%, #fff2ef));
  background-image: linear-gradient(to top, #2b5876 45%, #fff2ef 150%);
}

.wrapper .main-content .content-box .card-bg--primary {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #08a4ff), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #08a4ff 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--orange {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ff7708), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #ff7708 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--purple {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(45%, #ff08de), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #ff08de 45%, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-bg--blue-primary {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#3700ff), color-stop(150%, #fff2ef)) !important;
  background-image: linear-gradient(to top, #3700ff, #fff2ef 150%) !important;
}

.wrapper .main-content .content-box .card-title {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.wrapper .main-content .content-box .card-text {
  font-family: "Montserrat", sans-serif;
}

.wrapper .main-content .content-box .card-text__quantity {
  font-size: 2.5rem;
}

.wrapper .main-content .content-box .card-text__message {
  font-size: 1rem;
}

.wrapper .main-content .content-box .card .btn--check {
  font-family: "Lato", sans-serif;
}

.wrapper .main-content .content-box .card-header--title {
  font-size: 17px;
}

.wrapper .main-content .content-box .card .calendar-day {
  background: rgba(54, 57, 59, 0.1);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #428bca;
}

.wrapper .main-content .content-box .card .calendar-time {
  font-weight: 500;
}

.wrapper .main-content .content-box .card .calendar-content {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */